.titulo {
	font-size: 25pt;
	font-family: impact,arial

}
.hinchadainfo {
	font-size: 15pt;
	color: white;
}
.pieimagen {
	margin-left: 4%;
	font-size: 15pt;
	color: white;
	font-family: impact,verdana
}